.vscode
build/
aclocal.m4
config.guess
missing
autom4te.cache/
config.log
depcomp
config.sub
autoscan.log
compile
install-sh
ltmain.sh
.sconsign.dblite
.sconf_temp/
config.h.in*

*.o
*.a
*.so
client
client-cpp
boot
event